<h1>Detailed progress report: '<%= link_to "#{@student.full_name}", student_path(@student) %>' <%= link_to raw('<span class="glyphicon glyphicon-download") aria-hidden="true"></span>'), report_student_path(@student), title: 'Download Progress Details' %> </h1>

<br>
<p>
  <table>
    <tr>
      <td colspan="3"><b>Add Progress for student: '<%= "#{@student.full_name}" %>'</b></td>
    </tr>
    <%= form_for([@student, @student.progresses.build]) do |f| %>
    <tr>
      <td>
        <%= f.label :lesson %><br>
        <%= f.text_field :lesson %>
      </td>
      <td>
        <%= f.label :part %><br>
        <%= f.text_field :part %>
      </td>
      <td>
        <%= f.submit %>
      </td>
    </tr>
    <% end %>
  </table>
</p>

<br>
<p>
  <table>
    <tr>
      <th>Lesson</th><th>Part</th><th>completed at</th>
    </tr>
    <% @progresses.each_with_index do |progress, index| %>
      <tr <%= "style=background-color:#bbb" if index == 0  %>>
        <td><%= progress.lesson %></td>
        <td><%= progress.part %></td>
        <td><%= progress.updated_at.to_s(:formatted_datetime) %></td>
      </tr>
    <% end %>
  </table>
</p>
